@tailwind base;
@tailwind components;
@tailwind utilities;


  /** Für Bon Vivant Family **/
  @font-face {
    font-family: "Klint Black";
    src: url("public/fonts/Klint Black.otf") format("truetype");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "Klint Bold";
    src: url("public/fonts/Klint Bold.otf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Klint Italic";
    src: url("public/fonts/Klint Italic.otf") format("truetype");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Klint Light";
    src: url("public/fonts/Klint Light.otf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Klint Medium";
    src: url("public/fonts/Klint Medium.otf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Klint Regular";
    src: url("public/fonts/Klint Regular.otf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

  nav, .mobile{
    color: #d9d9d9;
    line-height: 1;
    font-family: "Klint Regular", sans-serif;
    text-underline-offset: .375rem;
  }

  body{
    font-family: "Klint Regular", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
  }

  h3{
    font-family: "Klint Medium", sans-serif;
    font-size: 18px;
  }

  
  h4{
    font-family: "Klint Medium", sans-serif;
    font-size: 18px;
  }

  h1{
    font-family: "Klint Regular", sans-serif;
    text-transform: uppercase;
    font-size: 30px;
    line-height: 1.2;
  }

  h2{
    font-family: "Klint Regular", sans-serif;
    text-transform: uppercase;
    font-size: 26px;
    line-height: 1.2;
  }

  button{
    font-family: "Klint Bold", sans-serif;
    background: #333;
    color: #fff;
    line-height: inherit;
    text-decoration: none;
    text-transform: uppercase;

  }

  /* Rubik für Navigation */


@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;

    --sidebar-background: 0 0% 98%;

    --sidebar-foreground: 240 5.3% 26.1%;

    --sidebar-primary: 240 5.9% 10%;

    --sidebar-primary-foreground: 0 0% 98%;

    --sidebar-accent: 240 4.8% 95.9%;

    --sidebar-accent-foreground: 240 5.9% 10%;

    --sidebar-border: 220 13% 91%;

    --sidebar-ring: 217.2 91.2% 59.8%;
  }


  html{
    scroll-behavior: smooth;
  }


  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}